<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="urls" value="http://www.egx.com.eg/arabic/CorporateResults.aspx"></add>
    <add key="mainLink" value="http://www.egx.com.eg/arabic/CompanyDetails.aspx?ISIN={0}"></add>
    <add key="threadCount" value="8"/>
    <add key ="haveAnnounce" value="False"/>
    <add key="annUrl" value="/earning-announcements"/>
    <add key="analysisFolder" value=".\analysisEgypt\"/>
    <add key="LinksExtractor" value="EgyptLinks"/>
    <add key="browserAgent" value="Mozilla/5.0 (Windows NT 6.2; WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1985.125 Safari/537.36"/>
  </appSettings>
</configuration>